@page "/manage-account"
@rendermode InteractiveServer

<div class="section-page">
    <h1 class="section-header fw-bold">View & Manage Account</h1>
    <p class="section-description">You are in the View & Manage Account section.</p>
</div>
