@page "/employer-dashboard"
@using UI.EmployerPortal.Web.Features.Dashboard.Components

<PageTitle>Employer Dashboard</PageTitle>
<div class="employer-dashboard-container">
    <EmployerDashboardAccountHeader />
    <EmployerDashboardMain />
</div>
