@page "/guest-dashboard"
@using UI.EmployerPortal.Web.Features.Dashboard.Components

<PageTitle>Guest Dashboard</PageTitle>

<div class="guest-dashboard-container">
    <GuestDashboardHeader />
    <GuestDashboardMain />
</div>
