@page "/billing-payments"

<div class="section-page">
    <h1 class="section-header fw-bold">Billing & Payments</h1>
    <p class="section-description">You are in the Billing & Payments section.</p>
</div>
