@page "/billing-payments/manage-bank-accounts"

<div class="section-page">
    <PageTitle>Manage Bank Accounts</PageTitle>
    <h1 class="section-header fw-bold">Manage Bank Accounts</h1>
    <p class="section-description">You are in the Manage Bank Accounts section.</p>
</div>
