@page "/billing-payments/pay-by-cheque"

<div class="section-page">
    <PageTitle>Pay By Cheque</PageTitle>
    <h1 class="section-header fw-bold">Pay By Cheque</h1>
    <p class="section-description">You are in the Pay by cheque section.</p>
</div>
