@page "/billing-payments/payment-history"

<div class="section-page">
    <PageTitle>Payment History</PageTitle>
    <h1 class="section-header fw-bold">Payment History</h1>
    <p class="section-description">You are in the Payment History section.</p>
</div>
