@page "/billing-payments/voluntary-contribution"

<div class="section-page">
    <PageTitle>Voluntary Contribution</PageTitle>
    <h1 class="section-header fw-bold">Voluntary Contribution</h1>
    <p class="section-description">You are in the Voluntary Contribution section.</p>
</div>
