@using UI.EmployerPortal.Web.Features.Landing.Components

@page "/"
@page "/landing-page"

<PageTitle>Landing Page</PageTitle>
<div class="page">
    <LandingPageHeader />
    <div class="landing-page-content">
        <h2>Account Grid</h2>
        <LandingPageTable />
    </div>
</div>
