<footer class="site-footer">
    <button class="help-btn fw-bold fs-md">
        <img src="images/help-info.svg" alt="Help" width="16" height="16" />
        <span>HELP & RESOURCES</span>
    </button>
</footer>
