.site-header {
    width: 100%;
    max-width: var(--width-page-max);
}

.top-bar {
    width: 100%;
    height: 123px;
    background-color: var(--color-header-top);
    display: flex;
    align-items: flex-end;
    justify-content:center;
    padding: 0 var(--spacing-md);
}

.nav-bar {
    width: 100%;
    height: 66px;
    background-color: var(--color-header-nav);
    display: flex;
    align-items: center;
    padding: 0 var(--spacing-md);
}


/* Tablet styles */
@media (max-width: 1023px) {
    .top-bar {
        height: 80px;
    }

    .nav-bar {
        height: 56px;
    }
}

/* Mobile styles */
@media (max-width: 575px) {
    .top-bar {
        height: 60px;
    }

    .nav-bar {
        height: 48px;
        padding: 0 var(--spacing-sm);
    }
}
