<header class="site-header">
    <div class="top-bar">
       
            <span>Department of Workforce Development - Wisconsin Unemployment Insurance</span>
        
    </div>
    <div class="nav-bar">
        <span><strong>Employer Dashboard</strong></span>
    </div>
</header>
