<header class="site-header">
    <div class="top-bar">
       
            <span>Department of Workforce Development - Wisconsin Unemployment Insurance</span>
        
    </div>
    <div class="nav-bar">
        <span style="background-color:#fff;">
            <a href="/employer-dashboard" class="menu-item " b-qwmrtr9d4z="">
                <img src="images/dashboard/home.svg" alt="" width="24" height="24" class="menu-icon" aria-hidden="true" b-qwmrtr9d4z="">
                <span class="menu-text fw-bold fs-md" b-qwmrtr9d4z="">
                    Dashboard
                </span>
            </a>
        </span>
    </div>
</header>
