.nav-bar {
    width: 100%;
    height: 66px;
    background-color: var(--color-header-nav);
    display: flex;
    align-items: center;
    padding: 0 var(--spacing-md);
    color: var(--color-white);
    margin-bottom: 20px;
}

.portal-border {
    color: white;
    font-weight: 500;
    padding-bottom: 4px;
    border-bottom: 2px solid transparent;
    display: inline-flex;
    text-decoration: none;
    gap: 6px;
    align-items: center;
}

.border-space {
    padding: 24px;
}

.home-icon {
    width: 24px;
    height: 24px;
}

.portal-lnk-title {
    font: 20px verdana;
    font-weight: bold;
}

.employer-lnk-title {
    font: 20px verdana;
    font-weight: bold;
}
